body {background-color: #A4A1A5;}

h1 {
    text-align: center;
}

table.table1 {margin-left: auto;
    margin-right: auto;}
    table tr#Stier  {background-color:#E15554;}
    table tr#Atier  {background-color:#E1893F;}
    table tr#Btier  {background-color:#E1BC29;}
    table tr#Ctier  {background-color:#3BB273;}
    table tr#Dtier  {background-color:#4D9DE0;}
    table tr#Ftier  {background-color:#7768AE;}
    table tr#Other  {background-color:#616065;}

table.table2 {margin-left: auto;
    margin-right: auto;
  border: 2px solid #616065;
  background-color: #D6D5D7;}

td.td2 {text-align: center}

th.th2 {width: 150px;
text-align: center}

th.th3 {width: 800px}

ul {
    position: fixed;
    top: 0;
    width: 100%;}

li {
    display: inline;}
